.gallery {
  margin: 0;
  background-color: rgba(28,71,168, 0.75);
}

.slideshow-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 60%;
  /* max-height: 510px; */
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.prev,
.next {
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: -50px;
  /* border-radius: 3px 0 0 3px; */
}

.prev {
  left: -50px;
}

.next img,
.prev img {
  height: 90px;
}

.prev:hover,
.next:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* 
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  background-color: rgba(204, 204, 204, 1);
  border-radius: 50%;
  display: inline-block;
  align-self: baseline;
  transition: background-color 0.6s ease;
} */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .gallery {
    background-color: rgba(28, 71, 168, 1);
  }
  .slideshow-container {
    max-width: 100%;
  }
  .next {
    right: 10px;
    /* border-radius: 3px 0 0 3px; */
  }
  .prev {
    left: 10px;
  }
}