.rewiews {
  margin: 0 auto;
  padding: 40px 60px 60px;
  background-color: rgba(28, 71, 168, 0.75);
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  gap: 40px;
}

.rewiews__content {
  /* height: 500px; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  justify-content: flex-start;
  
  background-size: cover;
  /* overflow: hidden; */
  gap: 20px;
}

.rewiew {
  flex: 0 0 auto;
  width: 30%;
}

#myImg {
  /* object-fit: cover; */
  width: 100%;
  /* flex: 0 0 auto; */
}

.rewiew img:hover {
  cursor: pointer;
}

.rewiews__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 900px) {
  .rewiews {
    padding: 20px 30px 30px;
    background-color: rgba(28, 71, 168, 1);
    gap: 20px;
  }
  .rewiews__content {
    gap: 10px;
  }
}
