.main-content {
    background: url(../../images/AK1A0457.jpg) 50%/cover;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-attachment: fixed;
    /* background-position: right; */
}

@media screen and (max-width: 900px) {
    .main-content {
        background: none;
    }
  }