.main-content {
    /* background: url(../../images/AK1A0457.jpg) 50%/cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    max-width: 1280px;
    width: 100%;
    /* background-position: right; */
}

@media screen and (max-width: 900px) {
    .main-content {
        background: none;
    }
  }